@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color:rgb(0, 0, 0) ;
    
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}


.imgl{
    height: 100px;
}

.conteudo-cabecalho{
    display: flex;
    gap: 30px;
    font-family: 'Merriweather', serif;
    color: cornsilk;
}

.conteudo-pricipal{
    border-top: 0.4px solid blanchedalmond;
}


.imagem{
    width: 700px;
    margin-left: 75px;
    margin-bottom: 75px;
    margin-right: 50px;
    border: 10px solid blanchedalmond;
    border-radius: 40px;
}

.h1{
    color: cornsilk;
}

.txth1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    color: cornsilk;
}


.conteudop1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Merriweather', serif;
    color: cornsilk;
}

.letra-cabecalho-campeoes{
    border-bottom: 0.4px solid blanchedalmond;
}

.lux{
    display: flex;
    flex-direction: column;
}

.conteudo-lux{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 50px;
    color: cornsilk;
    font-family: 'Merriweather', serif;
}

.lux1{
    align-items: center;
    display: flex;
    margin-right: 300px;
    flex-direction: row;
}

.luxt{
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    color: cornsilk;
    margin-left: 100px;
}


.blitzcrank{
    display: flex;
    flex-direction: column;    
}

.conteudo-blitzcrank{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 50px;
    color: cornsilk;
    font-family: 'Merriweather', serif;
}

.blitz1{
    align-items: center;
    display: flex;
    margin-right: 300px;
    flex-direction: row;
}

.blitzt{
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    color: cornsilk;
    margin-left: 100px;  
}

.olaf{
    display: flex;
    flex-direction: column;    
}

.conteudo-olaf{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 50px;
    color: cornsilk;
    font-family: 'Merriweather', serif;
}

.olaf1{
    align-items: center;
    display: flex;
    margin-right: 300px;
    flex-direction: row;
}

.olaft{
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    color: cornsilk;
    margin-left: 100px;  
}

.garen{
    display: flex;
    flex-direction: column;    
}

.conteudo-garen{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 50px;
    color: cornsilk;
    font-family: 'Merriweather', serif;
}

.garen1{
    align-items: center;
    display: flex;
    margin-right: 300px;
    flex-direction: row;
}

.garent{
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    color: cornsilk;
    margin-left: 100px;  
}

.ashe{
    display: flex;
    flex-direction: column;    
}

.conteudo-ashe{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 50px;
    color: cornsilk;
    font-family: 'Merriweather', serif;
}

.ashe1{
    align-items: center;
    display: flex;
    margin-right: 300px;
    flex-direction: row;
}

.ashet{
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    color: cornsilk;
    margin-left: 100px;  
}